html, body {
    font-family: 'Roboto Slab', serif;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    max-height: 15%;
    min-height: 15%;
    width: 100%;
    background-color: #D2EAF5;
}

header img {
    display: block;
    max-height: 100%;
    max-width: 60%;
    padding: 1%;
}

header span {
    color: #022239;
    align-self: center;
    font-size: .8rem;
    margin-right: -1rem;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #D2EAF5;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5% .5rem 5%;
}

ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    cursor: default
}

.contact-nav {
    color: #022239;
    align-self: center;
    transition: all 2s;
}

.contact-nav:hover {
    color: #00C4EE;
    cursor: default;
}

#new-contact {
    font-size: 1.2rem;
}

.contacts {
    border: 2px solid #022239;
    background-color: white;
    min-height: 415px;
    max-height: 415px;
    margin: 0 5%;
    overflow: auto;
}

div {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #022239;
    background-color: #D2EAF5;
    min-height: 2rem;
    align-items: center;
    margin: 2px;
    transition: all .2s;
}

div:hover {
    min-height: 2.2rem;
    background-color: #00C4EE;
}

div span {
    color: #022239;
    cursor: default;
}

div :nth-child(1) {
    width: 40%;
    text-align: center;
}

a {
    text-decoration: none;
    color: #022239;
    cursor: default;
    transition: all 2s;
}

#search {
    margin: 1rem 5%;
    width: 89.2%;
}